body {
  margin: 0%;
  font-family: "Merriweather", serif;
}

hr {
  border-top: 4px dotted #e3f6f5;
  border-bottom: none;
  width: 30%;
}

.primaryDiv {
  background-color: #272343;
  padding-top: 1%;
  padding-bottom: 3%;
}

.circleDiv {
  position: absolute;
  right: -200px;
  bottom: -200px;
  width: 400px;
  height: 400px;
  background-color: #bae8e8;
  border-radius: 100%;
}

.secondaryDiv {
  position: relative;
  background-color: #ffffff;
  height: 500px;
  padding-top: 1%;
  padding-bottom: 3%;
}

.thirdDiv {
  background-color: #e3f6f5;
  height: 100px;
  padding-top: 3%;
  padding-bottom: 1%;
}

.profileImage {
  width: 20%;
  height: 20%;
}

.iconImage {
  width: 70px;
  height: 70px;
}

.smallText {
  color: #ffffff;
  font-family: "Montserrat", serif;
  margin: 0;
}

.bigText {
  color: #bae8e8;
  margin-block-start: 0%;
  margin: 0;
  font-size: 4rem;
  font-family: "Sacramento", serif;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #272343;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.tab {
  overflow: hidden;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #bae8e8;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: solid #272343;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
  text-decoration-color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  font-weight: bold;
  background-color: inherit;
  border-bottom: solid #79b4b7;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #e3f6f5;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.fa {
  padding: 1%;
  width: 1.5%;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #333;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #4078c0;
  color: white;
}
